.layout-back {
  min-height: 86vh;
  height: auto;
  width: 100%;
}
table {
  border: solid 3px rgb(9, 104, 71);
  border-radius: 10px;
}
thead th {
  border: solid 2px rgb(241, 241, 241);
  padding: 8px;
  color: #fff;
  background-color: rgb(9, 104, 71);
}
td {
  background-color: rgba(9, 104, 71, 0.356);
  border: solid 2px rgb(9, 104, 71);
  padding: 8px;
}
