.header-bar {
  height: 70px;
  width: 100%;
  padding: 10px;
}

.logo-title {
  font-size: 1.6rem;
  /* font-family: "Phosphate-Inline"; */
  padding: 0px;
  margin: 0px;
  color: white;
}

@font-face {
  font-family: "Phosphate-Inline";
  src: url("../../assets/font/PhosphateInline.ttf");
}

.header-btn {
  margin-top: 5px;
}
